@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    display :flex;
    background-color:#0f1624 ;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    color: white;
    margin:0px;
    padding:0px;
    overflow-x: hidden;
    
    
  
 

}

    
    
    


html{
    scroll-behavior:smooth;
}
*{
      margin: 0;
  padding: 0;
  box-sizing: border-box;
}    






/* ==================================
             SIDE MENU
   ==================================*/
.SideMenu{
    margin-right: 0px;
    top:0px;
    left:0px;
    
    background-color: #0f1624;
    /*transform: translateX(-6.80272vw);
    opacity: 0;*/
    height: 100vh;
    
    position:sticky;
    backdrop-filter: blur(7.14286vw);

border: 1px solid rgba(255, 255, 255, 0.2);

       
    
}

#FitfocusSM{  /* sidemenu heading*/
   position:sticky ;
    
    border: 2px,solid,#262933;
    display: flex;
    align-items: center;
    top:0px;
    padding-bottom: .34014vw ;
    padding-right: 5.57823vw;
    gap: .68027vw;
    padding-top: .68027vw;
    font-size: 1.875rem;  
}
#SMlist{ /*side menu lists*/
    position:sticky;
    border: 2px,solid,#262933;
    
    padding-bottom: 14.75vw ;
    padding-right: 5.57823vw;
    gap: .68027vw;
    padding-top: 1.36054vw;
    font-size: .75rem;
    left:0px;
}
/* =============TO ADD Collapsable side menu==================
.SideMenu:hover{
    animation: uncollapse 0.5s ease-out forwards;
}
.SideMenu:not(:hover){
    animation: collap 4.5s ease-in forwards;
    
}
@keyframes uncollapse{
    from{
        transform: translateX(-6.80272vw);
    opacity: 0;
    }
    to{
        transform: translateX(0);
    opacity: 1;
    }
}
@keyframes collap{
      from{
        transform: translateX(0);
    opacity: 1;
    }
    to{
        transform: translateX(-6.80272);
    opacity: 0;
    }
}
    */
#User{
  border: 2px,solid,#262933;
  height: 5.10204vw;
  display: flex;
  align-items: center;
  font-size: .78125rem;
  padding-left: 1.36054vw;
  
}
#username{
    padding-left: .68027vw;
    text-decoration: none;
    margin-top: -0.34014vw;
    color:white;
}
#username:hover{
    transform: scale(1.012);
}


.liele a{ 
    font-weight: 100;
    text-decoration: none;
    color:white;  
    
}
.liele:hover{
    font-weight: 120;
    transform: scale(1.012);
}
.flexformenuitems{
   display:flex;
  margin-bottom: 1.36054vw;
   
}









/*==========================================
    USER PROFILE
 ===========================================
*/
#UserDisplay{
    
    height: 18.02721vw;
    background-color: #172136;
    width: 47.61905vw;
    margin-top: 7.80272vw;
    margin-left: -79.01361vw;
    border: .13605vw solid,#262933;
    
}
#EditChanges{
    height: 28.02721vw;
    background-color: #172136;
    width: 47.61905vw;
    margin-top: 2.68027vw;
    margin-left: -79.01361vw;
    border: .13605vw solid,#262933;
    margin-bottom: 3.40136vw;
}
#textforeditProfile{
    padding-left: 1.68027vw;
    padding-top: 1.68027vw;
}

#flexforOptionProfile{
   display:flex;
   
}
#option1Profile{
  margin-top: 3.44218vw;
  margin-left: 2.04082vw
}

#option2Profile{
  margin-top: 3.44218vw;
  margin-left: 2.04082vw
}

#option3Profile{
  margin-top: 10.44218vw;
  margin-left: -36.21361vw;
}

#option4Profile{
  margin-top: 10.44218vw;
  margin-left: 2.04082vw
}
.inputforProfile{
       height: 2.38095vw;
    width:  16.60544vw;
    background-color:#0f1624;
    border: .13605vw solid,#262933;
    
    margin-left: 0.5vw;
    color:white;
    padding-left: .68027vw;
}
.nameofoptionProfile{
    margin-left: .68027vw;
    margin-bottom: .68027vw;
}
#editbutton{
    background-color: #4abaaf;
    color:white;
    font-weight: 100;
    font-size: 0.94rem;
    height: 7vh;
    width: 8vw;
    margin-top: 7vh;
    margin-left: 38vw;;
}
#flexforUserDisplay{
    display: flex;
}
#Userprofileimage{
    margin-left: 2.04082vw;
    margin-top: 2.04082vw;

}
#usertextandgmail{
    margin-top: 3.40136vw;
    margin-left: 1.36054vw;

}
#userinfo{
    display: flex;
}
#UI1{
    margin-top: 2.04082vw;
    margin-left: 1.70068vw;
    height: 5.40136vw;
    width: 8.40136vw;
    background-color: #242935;
    color: white;
    
}
#UI2{
    margin-top: 2.04082vw;
    margin-left: 1.70068vw;
    height: 5.40136vw;
    width: 8.40136vw;
    background-color: #242935;
    color: white;
}
#UI3{
    margin-top: 2.04082vw;
    margin-left: 1.70068vw;
    height: 5.40136vw;
    width: 8.40136vw;
    background-color: #242935;
    color: white;
}
#UI4{
    margin-top: 2.04082vw;
    margin-left: 1.70068vw;
    height: 5.40136vw;
    width: 8.40136vw;
    background-color: #242935;
    color: white;
}
.pofUI{
    margin-top: .68027vw;
    margin-left: 2.56122vw;
}
#buttonforlogout{
     background-color: #4abaaf;
    color:white;
    font-weight: 100;
    font-size: 0.94rem;
    height: 7vh;
    width: 6vw;
    margin-top: 8vh;
    margin-left: 16.5vw;
}







/*==================================
       DASHBOARD
  ==================================*/

.TopBar{   /* top bar of every page in the website*/
    border: 2px,solid,#262933;
    align-items: center;
    
    padding: 10px;
    
    padding-left:75vw;
    padding-top: 3.75vh;
   
    box-sizing: border-box;
    width: 82.75vw;
    height:11.5vh;
    font-size: 1.2rem;

}

/*=========TODAYS PROGRESS===========*/
.Todayprogress{
   width:55.41vw;
   height: 55vh;
   background-color: #172136;
   border:2px solid,#262933;
   margin-left: 4vh;
   margin-top: 5vh;
   padding-left: 23vw;
   padding-top: 4vh;
}
.pofD{ /* para of dashboard*/
    color: grey;
    font-weight: 100;
}
.progressempty{
   background: conic-gradient(#4abaaf 0, #313135 0 );
   height : 15vw;
   width: 15vw;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 2vw;
   margin-left: -2vw;
   transition: background 0.4s ease;
   

}
.filledprogress{
    background-color:#172136;
    height: 10vw;
    width:10vw;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.progresstext{
    font-weight:120;
    font-size: 1.875rem;
}

#pofTP{
     color: grey;
    font-weight: 100;
    font-size: 1.2rem;
    margin-left: 1.02041vw;
}



/*==========FITNESS TRACKER===========*/
.Fitness-tracker{
    height :84.5vh;
    width :23.75vw;
    background-color:#172136;
    border: 2px solid,#262933;
    margin-left: 4vh;
    margin-top: 4.5vh;
    margin-bottom: 5vh;
    

    
}
#buttonofFT{
    background-color: #4abaaf;
    color:white;
    font-weight: 100;
    font-size: 0.94rem;
    height: 7vh;
    width: 6vw;
    margin-top: 2vh;


}
#buttonofFT:hover{
    transform: scale(1.012);
}
/*===========POPUP=================*/
#popupoverlay{
    position:fixed;
    background: rgba(0, 0,0, 0.6);
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
    top:0;
    left: 0;
}
#popupdisplay{
    height: 25.80272vw;
    width: 34.01361vw;
    background-color: #0f1624;
    margin-left: 34.01361vw;
    margin-top: 12.80272vw;
    padding-left: 2.04082vw;
    padding-top: 2.04082vw;
    border: .13605vw solid,#262933;
    animation: fromtop 0.35s ease-out forwards;
}
@keyframes fromtop{
    from{
        opacity: 0;
        transform: translateY(-1.36054vw);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
#popupoption1{
    display:flex;
    margin-top: 2.72109vw;
    margin-left: 3.40136vw;
}
#inputofpopup{
    background-color:#0f1624 ;
    border: .13605vw solid,#262933;
    margin-top: -0.64014vw;
    margin-left: .54422vw;
    height: 3.04082vw;
    width: 22vw;
    padding-left: .68027vw;
    color: white;
}
#inputofpopup2{
    background-color:#0f1624 ;
    border: .13605vw solid,#262933;
    margin-top: -0.64014vw;
    margin-left: .8422vw;
    height: 3.04082vw;
    width: 22vw;
    padding-left: .68027vw;
    color: white;
}
#inputofpopup3{
    background-color:#0f1624 ;
    border: .13605vw solid,#262933;
    margin-top: -0.64014vw;
    margin-left: .8422vw;
    height: 3.04082vw;
    width: 22vw;
    padding-left: .68027vw;
    color:white;
}
#close{
    height:4.40136vh;
    width: 2.40136vw;
    background-color: #0f1624;
    border: .13605vw solid,#262933;
    color:white;
   margin-left: 9.52381vw;
   margin-top: -1.36054vw;
    
}
#flexforpopup{
    display: flex;;
}
#add{
      background-color: #4abaaf;
    color:white;
    font-weight: 100;
    font-size: 1.02041vw;
    height: 2.72109vw;
    width: 6.5vw;
    
    margin-left: 23vw;
    margin-top: 2.2vh;
}
#add:hover{
    transform: scale(1.012);
}







#FlexforFT{
    display:flex;
    padding: .68027vw;
    padding-right: .68027vw;
}
#padaddFT{
    padding-top: .68027vw;
    padding-left: .68027vw;
}
#flexforFTSgoals{
  display: flex;
  margin-top: 1.36054vw;
  align-items: center;
  font-size: .875rem;
}
#goalquantity{
    margin-left: 7.80272vw;
}

#flexforInputFT{
    display:flex;
    align-items: center;
}
#inputforFT{
    height: 2.38095vw;
    width:  16.60544vw;
    background-color:#0f1624;
    border: .13605vw solid,#262933;
    
    margin-left: 0.5vw;
    color:white;
}
#buttonforGoal{
     background-color: #4abaaf;
    color:white;
    font-weight: 100;
    font-size: 1.02041vw;
    height: 2.72109vw;
    width: 4.5vw;
    
    margin-left: .68027vw;
}
#buttonforGoal:hover{
    transform: scale(1.012);
}
#LinearProgress{
    background: linear-gradient(to right,#4abaaf 55% , #313135 0);
    height: .68027vw;
    width : 20.40136vw;
    margin-left: .9027vw;
    margin-top: .47619vw;
}
#textforGoals{
    font-size: 1.25rem;
}





/*===========HEALTH INSPECT===========*/
.Health-Inspect{
    height :54.8vh;
    width :22vw;
    background-color:#172136;
    border: 2px solid,#262933;
     margin-top: -55vh;
    margin-left: 33vw;
    margin-bottom: 5vh;
    padding-top: 20px;
    padding-left: .92593vw;
    
    

}
#pofHI{ /*para of health inspect*/
     color: grey;
    font-weight: 100;
    font-size: 0.9rem;

}
.Restofcontent{ 
    display:flex;
}
#OutputHI{
    height: 29vh;
    width: 20vw;
    margin: 0;
    margin-left: 0;
    margin-top: 2.04082vw;
    background-color: #1c3142;
    border: .06803vw solid,#1c3000;
}
#InspectButton{
    background-color: #4abaaf;
    color:white;
    font-weight: 100;
    font-size: 1.02041vw;
    height: 2.25vw;
    width: 4.5vw;
    margin-top: .34014vw;
    margin-left: 15.68027vw;
    font-size: .75rem;
}
#InspectButton:hover{
    transform: scale(1.022);
}


/*============AREA TO FOCUS ON AND WEEK PROGRESS============*/
.areaandweekly{
    display: flex;
    flex-direction: column;
}
.Area{ /*Area to focus on section*/
     height :35.77778vw;
    width :24.8vw;
    background-color:#172136;
    border: 2px solid,#262933;
    margin-top: 4.5vh;
    margin-left: -53.75vw;
    margin-bottom: 3vh;
     padding-top: 0.35vw;
    padding-left: .92593vw;

}
#textandiconofarea{
    display:flex;
    align-items: center;
    padding-top: -0.68027vw;
}
#FlexforbasecaseArea{
    margin-top: .68027vw;
   display:flex;
   align-items: center;
}
#textforbasecaseArea{
    font-weight: 12.5;
    margin-bottom: .34014vw;
}
#paraofbasecaseArea{
    margin-bottom: .34014vw;
    margin-left: 11.20408vw;
}
#progressforbasecaseArea{
    background: linear-gradient(to right,#4abaaf 55% , #313135 0);
    height: .389vw;
    width : 20.40136vw;
    margin-left: .9027vw;
    margin-top: .1vw;
}
#bottomparaforbasecaseArea{
    margin-top: .34014vw;
    margin-left: .34014vw;
}





.weekprogress{
      height :38.27778vw;
    width :27.5vw;
    background-color:#172136;
    border: 2px solid,#262933;
    margin-top: -81.85vh;
    margin-left: -27.8vw;
    margin-bottom: 3vh;
     padding-top: 1.23457vw;
    padding-left: .92593vw;

}








/*===========================
        Calorie Counter
  ===========================*/
#mealbutton{
    
    background-color: #4abaaf;
    color:white;
    font-weight: 100;
    font-size: .9375rem;
    height: 2.72109vw;
    width: 5.98639vw;
    margin-top: 15vw;
    margin-left: 25.5102vw;
}
.Uploadmeapics{
    height :24.3vw;
    width :34vw;
    background-color:#172136;
    border: 2px solid,#262933;
    
    margin-left: 2.04082vw;
    margin-bottom: 3.40136vw;
    margin-top: 2.04082vw;
     padding-top: 1.36054vw;
    padding-left: 1.02041vw;

}

.nutrition{
     height :24.3vw;
    width :34.01361vw;
    background-color:#172136;
    border: 2px solid,#262933;
    
    margin-left: 3.40136vw;
    margin-bottom: 3.40136vw;
    margin-top: 2.04082vw;
     padding-top: 1.36054vw;
    padding-left: 1.02041vw;


}
.CC{
   display:flex;
   align-items: center;
}










/*=============================
           AI COACH
  =============================*/
.ai{
     height :32.31293vw;
    width :76.3vw;
    background-color:#172136;
    border: .13605vw solid,#262933;
    
    margin-left: 3.40136vw;
    
    margin-top: 2.04082vw;
     padding-top: 1.36054vw;
    padding-left: 1.02041vw;
}

.textandparaofAI{
    padding-left: 2.04082vw;
}

.inputandbuttonofAI{
     
    border: .13605vw solid,#262933;
    height:5.10204vw;
    width :76.3vw;
    background-color:#172136;
    margin-left: 3.40136vw;
}

#textinput{
    height: 2.38095vw;
    width:66.02721vw;
    background-color:#0f1624;
    border: .13605vw solid,#262933;
    margin-top: 1.02041vw;
    margin-left: 1.36054vw;
}
#buttonofAI{
    background-color: #4abaaf;
    color:white;
    font-weight: 100;
    font-size: 1.02041vw;
    height: 2.72109vw;
    width: 5.98639vw;
    margin-top: .68027vw;
    margin-left: .68027vw;
}












/*=================================
              MAP
  =================================*/
.map{
     height :44.21769vw;
    width :65.3vw;
    background-color:#172136;
    border: .13605vw solid,#262933;
    
    margin-left: 3.40136vw;
    margin-bottom: 3.40136vw;
    margin-top: 2.04082vw;
     padding-top: 1.36054vw;
    padding-left: 1.02041vw;
}
.mapINT{
     height: 34.69388vw;
    width:55.75vw;
    background-color:#0f1624;
    border: .13605vw solid,#262933;
    margin-top: 2.04082vw;
    margin-left: 1.36054vw;
    padding-top: .98027vw;
    padding-left: 1.06054vw;

}
#tempmap{
    filter: brightness(50%);
}








/*===================================
       MANAGE REMINDERS
  ===================================*/
.managereminders{
     height :35vw;
    width :44vw;
    background-color:#172136;
    border: .13605vw solid,#262933;
    
  
    margin-left: 3.40136vw;
    
    margin-top: 2.04082vw;
    
}

#reminderbutton{
     background-color: #4abaaf;
    color:white;
    font-weight: 100;
    font-size: .9375rem;
    height: 2.72109vw;
    width: 10.20408vw;
    margin-top: 1.25vw;
    margin-left: 13.5102vw;
   
}
.flexforreminders{
    display: flex;
   
}
#textforreminder{
    margin-left: 2.5vw;
    margin-top: 1.225vw;
}
.optionforreminder{
    height: 5.40816vw;
    width: 34.01361vw;
    background-color: #242935;
    margin-top: 2.36054vw;
    margin-left: 4.36054vw;
}
.optionmargin{
    margin-top: .81633vw;
}
#textforoptionreminder{
    margin-top: 1vw;
    margin-left: 0.8vw;
}
#deleteoption{
    margin-left: 20vw;
    margin-top: 1.2vw;
}
#popupdisplayreminder{
    height: 20.80272vw;
    width: 34.01361vw;
    background-color: #0f1624;
    margin-left: 34.01361vw;
    margin-top: 12.80272vw;
    padding-left: 2.04082vw;
    padding-top: 2.04082vw;
    border: .13605vw solid,#262933;
}






/*============================================
         Today's Workout
  ============================================
*/

#calenderforWorkout{
   height: 27.21088vw;
   width: 20.80272vw;
   background-color:#172136 ;
   margin-left: 3.40136vw;
   margin-top: 3.04082vw;
     border: .13605vw solid,#262933;

}
#workoutday{
   height: 27.21088vw;
   width: 37.80272vw;
   background-color:#172136 ;
   margin-left: 3.40136vw;
   margin-top: 3.04082vw;
     border: .13605vw solid,#262933;
}
.flexforWorkout{
    display: flex;
    align-items: center;
}
#textandparaofworkout{
    margin-top: 1.36054vw;
    margin-left: 1.70068vw
}
#buttonofworkout{
     background-color: #4abaaf;
    color:white;
    font-weight: 100;
    font-size: 1.02041vw;
    height: 2.72109vw;
    width: 8.98639vw;
    margin-top: .68027vw;
    margin-left: 16.68027vw;
}

#bodyofworkout{
    margin-top: 5.36054vw;
    margin-left:6.40136vw
}
#h3ofworkout{
    margin-left: 5.44218vw;
}



/*==========================================================
               TUTORIALS STEPS
 ==========================================================
*/



/*==================FIRST STEP=============================*/
#popupdisplayforstep1{
    margin-top: 40vh;
    margin-left: 40vw;

}
#h1ofstep1{
    margin-bottom: 1.34014vw;
    margin-left: -3vw;
    font-size: 3rem;
}
#midpofstep1{
    margin-left: 2vw;
}
#lastpofstep1{
    margin-left: 1vw;
}
#firstpofstep1{
    margin-left:7.5vw;
}
#nextbutton{
     background-color: #4abaaf;
    color:black;
    font-weight: 100;
    font-size: 1.02041vw;
    height: 2.72109vw;
    width: 5.58639vw;
    margin-top: 2.8027vw;
    margin-left: 16.68027vw;
}
#nextbutton:hover{
    transform: scale(1.012);
}
#skipbutton{
    background-color: 
#090d16;
    color:white;
    font-weight: 100;
    font-size: 1.02041vw;
    height: 2.72109vw;
    width: 5.58639vw;
    margin-top: 2.8027vw;
    margin-left: -2.68027vw;
     border: .13605vw solid,#262933;
}
#skipbutton:hover{
    transform: scale(1.012);
}

/*==================== STEP2 ====================*/
#popupdisplayforstep2{
    margin-top: 20vh;
    margin-left: 18vw;
    width: 35vw;
    height: 25vh
  

}
#firstpofstep2{
    margin-left: 11.5vw;
}
#popupoverlay2{
    position:fixed;
    background: rgba(0, 0,0, 0.6);
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
    top:0;
    left: 0;
   z-index:1;
}
#h2ofstep1{
    margin-bottom: 1.34014vw;
    margin-left: -2vw;
    font-size: 3rem;
    margin-top: 2vw;
}
#h2ofstep2{
    margin-bottom: 1.34014vw;
    margin-left: -1vw;
    font-size: 1.5rem;
    margin-top: 1.75vw;
}
#midpofstep2{
    margin-left: 0.25vw;
    margin-top: 1vw;
}
#lastpofstep2{
    margin-left: 0.25vw;
}
.Todayprogress2{
   width:55.41vw;
   height: 55vh;
   background-color: #172136;
   border:2px solid,whitesmoke;
   margin-left: 50vw;
   margin-top: -19vh;
   padding-left: 19vw;
   padding-top: 4vh;
   z-index: 2;
   transform: scale(0.75);
   box-shadow: whitesmoke;

}
#flexforstep2dashbaord{
    display: flex;
}
#nextbutton2{
     background-color: #4abaaf;
    color:black;
    font-weight: 100;
    font-size: 1.02041vw;
    height: 2.72109vw;
    width: 5.58639vw;
    margin-top: 2.8027vw;
    margin-left: 22.68027vw;
}
#nextbutton2:hover{
    transform: scale(1.012);
}

/*======================STEP3==========================*/
.Fitness-tracker3{
    height :84.5vh;
    width :23.75vw;
    background-color:#172136;
    border: 2px solid,whitesmoke;
    box-shadow: whitesmoke;
  margin-left: 55vw;
   margin-top: -45vh;
    margin-bottom: 5vh;
     transform: scale(0.75);
    
    z-index: 2;
    
}
#firstpofstep3{
    margin-left: 11.7vw;
}
#h1ofstep3{
    margin-bottom: 1.34014vw;
    margin-left: 4vw;
    font-size: 3rem;
    margin-top: 1.5vw;
}
#popupdisplayforstep3{
    margin-top: 37vh;
    margin-left: 23vw;
    width: 35vw;
    height: 25vh
  

}
#nextbutton3{
     background-color: #4abaaf;
    color:black;
    font-weight: 100;
    font-size: 1.02041vw;
    height: 2.72109vw;
    width: 5.58639vw;
    margin-top: -22.8027vw;
    margin-left: 22.68027vw;
}
#nextbutton3{
    transform: scale(1.012);
}
/*===========================STEP 4 ======================*/

.Area4{ /*Area to focus on section*/
     height :30.77778vw;
    width :24.8vw;
    background-color:#172136;
    border: 2px solid,whitesmoke;
     box-shadow: whitesmoke;
  margin-left: 55vw;
   margin-top: -40vh;
    margin-bottom: 5vh;
     transform: scale(0.75);
    
    z-index: 2;
     padding-top: 0.35vw;
    padding-left: .92593vw;
    

}
#popupdisplayforstep4{
    margin-top: 37vh;
    margin-left: 20vw;
    width: 35vw;
    height: 25vh
  

}
#firstpofstep4{
    margin-left: 11.7vw;
}
#h1ofstep4{
    margin-bottom: 1.34014vw;
    margin-left: 4vw;
    font-size: 3rem;
    margin-top: 0.75vw;
}
#nextbutton4{
     background-color: #4abaaf;
    color:black;
    font-weight: 100;
    font-size: 1.02041vw;
    height: 2.72109vw;
    width: 5.58639vw;
    margin-top: -22.8027vw;
    margin-left: 22.68027vw;
}
#nextbutton4:hover{
  transform: scale(1.012);
}





/*===========================STEP 5 ======================*/


.weekprogress5{
      height :38.27778vw;
    width :27.5vw;
    background-color:#172136;
    border: 2px solid,whitesmoke;
    box-shadow: whitesmoke;
    margin-left: 55vw;
   margin-top: -46vh;
    margin-bottom: 5vh;
     padding-top: 1.23457vw;
    padding-left: .92593vw;
    z-index :2;
    transform: scale(0.75)
}
#popupdisplayforstep5{
    margin-top: 37vh;
    margin-left: 20vw;
    width: 35vw;
    height: 25vh
  

}
#firstpofstep5{
    margin-left: 8.7vw;
}
#h1ofstep5{
    margin-bottom: 1.34014vw;
    margin-left: 2vw;
    font-size: 3rem;
    margin-top: 0.75vw;
}
#midpofstep5{
    margin-left: 0.25vw;
    margin-top: 0vw;
}
#lastpofstep5{
    margin-left: 0.25vw;
}
/*=====================STEP 6=====================*/

.Health-Inspect6{
    height :54.8vh;
    width :22vw;
    background-color:#172136;
    border: 2px solid,#262933;
     margin-top: -30vh;
    margin-left: 55vw;
    margin-bottom: 5vh;
    padding-top: 20px;
    padding-left: .92593vw;
    
    Z-INDEX:2;

}

#popupdisplayforstep6{
    margin-top: 37vh;
    margin-left: 10vw;
    width: 43vw;
    height: 25vh
  

}
#h1ofstep6{
    margin-bottom: 1.34014vw;
    margin-left: 8vw;
    font-size: 3rem;
    margin-top: 0.75vw;
}
#firstpofstep6{
    margin-left: 14.7vw;
}
#nextbutton6{
     background-color: #4abaaf;
    color:black;
    font-weight: 100;
    font-size: 1.02041vw;
    height: 2.72109vw;
    width: 5.58639vw;
    margin-top: -22.8027vw;
    margin-left: 28.68027vw;
}
#nextbutton6:hover{
    transform: scale(1.012);
}

/*=================STEP9=========================*/
.Uploadmeapics9{
    height :24.3vw;
    width :34vw;
    background-color:#172136;
    border: 2px solid,whitesmoke;
    
    margin-left: 50.04082vw;
    
    margin-top: -13.60544vw;
     padding-top: 1.36054vw;
    padding-left: 1.02041vw;
    z-index: 2;
    transform: scale(0.75);

}
#popupdisplayforstep9{
    margin-top: 37vh;
    margin-left: 20vw;
    width: 43vw;
    height: 25vh
  

}
.nutrition9{
     height :24.3vw;
    width :34.01361vw;
    background-color:#172136;
    border: 2px solid,whitesmoke;
    box-shadow: whitesmoke;
    transform: scale(0.75);
    
    margin-left: 3.40136vw;
    margin-bottom: 3.40136vw;
    margin-top: 2.04082vw;
     padding-top: 1.36054vw;
    padding-left: 1.02041vw;
    z-index: 2;



}
